@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    overflow-x: hidden;
}

.font-style {
    font-family: 'Source Sans Pro', sans-serif;
}

.size {
    font-size: 20px;
    padding: 0%;
    width: 100%;
}

.i1 {
    padding-left: 20px;
}

.img {
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 4px;
    background-color: white;
}

.space {
    margin-top: 3px;
    margin-left: 32.5%;
}

.space2 {
    margin-top: 3px;
}

.input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search {
    background-color: #0072b1;
    border: 1px solid #0072b1;
    margin-top: 6px;
    height: 35px;
    width: 40px;
    padding-left: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo1 {
    color: white;
}

.signin {
    margin-top: 0px;
    padding-top: 0px;
    height: 45px;
    margin-left: 17px;
}

.butt {
    border: none;
    background-color: white;
}

.d3 {
    margin-top: 0px;
    background-color: #0072b1;
    height: 10px;
}

.line1 {
    padding-right: 20px;
    padding-left: 20px;
}

.line1:hover {
    border-bottom: 4px solid white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -3px;
    left: 0;
    background-color: #0072b1;
    transform-origin: bottom center;
    transition: transform 0.5s ease-out;
}

.a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.mar {
    margin-left: 25px;
    margin-right: 25px;
}

.a3:active {
    color: white;
}

.event {
    color: white;
    font-size: 28px;
    font-weight: bold;

}

.clr {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.a1 {
    text-decoration: none;
    color: black;
}

.a1:hover {
    text-decoration: underline;
}

.img1 {
    height: 40px;
    width: 40px;
    margin-right: 22px;
}

.img2 {
    height: 53px;
    width: 53px;
    margin-right: 20px;
}

.img3 {
    height: 35px;
    width: 45px;
    margin-right: 20px;
}

.pad {
    margin-top: 10px;
    margin-bottom: 20px;

}

.pad1 {
    margin-bottom: 10px;
}

.pad2 {
    height: 40px;
}

.b {
    border: 2px solid #0072b1;
    background-color: white;
    margin-right: 5px;
    border-radius: 7px;
    height: 40px;
    font-size: 18px;
    padding: 7px 20px;
    font-weight: bold;
    color: #0072b1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b:hover {
    border: 3px solid white;
    color: white;
    background-color: #0072b1;
}

@media only screen and (max-width:992px) {
    .gap {
        margin-left: 23px;
        padding-bottom: 12px;
    }
}

.line {
    background-color: white;
}

.video {
    background-size: cover;
    width: 1525px;
    height: 900px;
}

/* .vid
{
    padding-left:0px;
} */
.grey {
    background-color: #d4d4d4;
}

.vid {
    border-radius: 10px;
}

.back-img {
    background-image: url('../Assets/Images/lj1.jpg');
    height: 600px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sect1 {
    padding: 40px 50px;
    font-size: 20px;
}

.inst {
    padding-top: 40px;
    padding-bottom: 13px;
    font-weight: 700;
}

.inst1 {
    padding: 3px 24px;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
}

.inst1:hover {
    color: #0072b1;
}

.no-line {
    text-decoration: none;
}

.inst2 {
    padding: 0px 54px;
    padding-top: 13px;
    font-size: 23px;
    color: #0072b1;
}

.i1 {
    padding-left: 8px;
}

.inst4 {
    padding: 0px 24px;
    font-size: 23px;
    padding-top: 23px;
    color: #0072b1;
}

.inst5 {
    padding: 0px 26px;
    font-size: 23px;
    font-weight: 300;
}

.inst6 {
    padding: 0px 54px;
    font-size: 23px;
    font-weight: 300;
}

.foot {
    background-color: black;
    border-bottom: 3px solid white;
}

@media only screen and (max-width:576px) {
    .foot2 {
        display: flex;
        justify-content: center;
    }
}

.a5 {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.a5:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.lastfoot {
    background-color: black;
    border-top: 3px solid white;
    color: white;
    padding: 20px 0px;
    font-size: 20px;
}

@media only screen and (max-width:576px) {
    .line2 {
        border-bottom: 2px solid rgb(122, 120, 120);
    }
    .back-img
    {
        height: 1000px;
    }
}

.carousel-indicato {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}
.opac{
    height: 50px;
    width: 100px;
}

.opac:hover {
    opacity: 1;
    transform: scale(1.5);
    border: 2px solid black;
    transition-duration: 0.3s;
}

.size2 {
    font-size: 25px;
    color: black
}

.width {
    width: 500px;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999;
    overflow: visible;
    background: #fff;
}



.jinay {
    height: 100px;
    width: 150px;
    background-image: url(../Assets/Images/nat1.jpg);
    font-size: medium;
    color: white;
}

.jinay2 {
    height: 100px;
    width: 150px;
    background-image: url(../Assets/Images/nat3.jpg);
    font-size: medium;
    color: white;
    margin-left: 20px;
}

.medimg {
    width: 100%;
    height: 210%;
    border-radius: 20px;

}

.smallimg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media only screen and (max-width:576px) {
    .set {
        margin: auto;
    }
    .medimg,.smallimg{
        border-radius: 7px;
    }
    .carousel-indicato{
        left: 10%;
    }
    .opac{
        width: 30px;
        height: 30px;
    }
}